@font-face {
    font-family: fzero;
    src: url(../font/F-ZeroGBAText1.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fzero;
    text-decoration: none;
    list-style: none;
    transition: all ease;
}

:root {
    font-size: 62.5%;
}

.u-container {
    width: 100%;
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: 0 auto;
}


/* HEADER */

.header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: relative;
    z-index: 100;
}

.header__logo {
    display: flex;
    gap: 1.5rem;
}

.header__search-button {
    width: 2.7rem;
    height: 2.7rem;
    border: none;
    cursor: pointer;
    background-image: url(../img/interface/search.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: .5s;
}

.header__search-button:hover {
    transform: rotate(180deg)
}

.header__search-button.is-active {
    background-image: url(../img/interface/close-search.svg)
}


/* FILTER */

.filter {
    transition-duration: .5s;
    transform-origin: top center;
    height: 0;
}

.filter__container {
    transform: translateY(calc(-100% - 3rem));
    padding: 1.5rem 0;
    transition-duration: .5s;
}

.filter__container.is-active {
    transform: translateY(0);
}

.filter__input {
    width: 100%;
    border:none;
    border-radius: .5rem;
    padding: 1rem;
    font-size: .9rem;
    margin-bottom: 1.5rem;
    background-color: #f2f2f2;
    color: var(--interface);
}

.filter__input::placeholder {
    color: a0a0a0;
}

.filter__button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: .75rem;
}

.filter__button {
    border: none;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    cursor: pointer;
}

.filter__button:hover {
    transform: scale(.95);
    transition-duration: .3s;
    filter: brightness(1.1);
}


/* POKEMON */

.pokemon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
    color: #fff;
}

.pokemon__item {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    transition-duration: .3s;
}

.pokemon__item:hover {
    transform: scale(.98);
    filter: brightness(1.1);
}

.pokemon__img {
    margin-bottom: 1rem;
}

.pokemon__id,
.pokemon__name {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.pokemon__id {
    font-size: 1.6rem;
}

.pokemon__name {
    font-size: .8rem;
    font-weight: normal;
}